body {
  background-color: white;
}

h4{
  font-family: 'Merriweather', serif;
}
.intro {
  background-image: url(backgrounds/h_img.jpg);
  background-size: cover;
  text-align: center;
  color: white;

}
.Dlogo {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.MouseClick {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.aboutUs {
  text-align: center;
  color: black;
  font-size: small;
  font-family: 'Yantramanav', sans-serif;
}
.services {
  background-image: url(backgrounds/s_image.jpg);
  background-size: cover;
  text-align: center;
  color: white;
  font-size: small;
  font-family: 'Yantramanav', sans-serif;
}
.hide{
  display:none;
}

.Hover {
  opacity:0;
  background-color: rgba(255, 255, 255, 0.623);
  position: absolute;
  top:25%;
  bottom:25%;
  left:25%;
  right:25%; 
}
#work1{
  background: url(portfolio/work1.jpg) ;
  background-size: cover;
  height: 200px;
  max-width: 200px;
  margin:2%;
}
#work2{
  background: url(portfolio/work2.jpg) ;
  background-size: cover;
  height: 200px;
  max-width: 200px;
  margin:2%;
}
#work3{
  background: url(portfolio/work3.jpg) ;
  background-size: cover;
  height: 200px;
  max-width: 200px;
  margin:2%;
}
#work4{
  background: url(portfolio/work4.jpg) ;
  background-size: cover;
  height: 200px;
  max-width: 200px;
  margin:2%;
}
#work5{
  background: url(portfolio/work5.jpg) ;
  background-size: cover;
  height: 200px;
  max-width: 200px;
  margin:2%;
}
#work6{
  background: url(portfolio/work6.jpg) ;
  background-size: cover;
  height: 200px;
  max-width: 200px;
  margin:2%;
}
#work7{
  background: url(portfolio/work7.jpg) ;
  background-size: cover;
  height: 200px;
  max-width: 200px;
  margin:2%;
}
#work8{
  background: url(portfolio/work8.jpg) ;
  background-size: cover;
  height: 200px;
  max-width: 200px;
  margin:2%;
}
.row{
  padding:2%;
}
.Contact-Us {
  background-image: url(backgrounds/c_image.jpg);
  background-size:cover;
  display: cover;
  padding: 10%;
}
form #contact{
  background-color: rgba(0, 0, 0, 0);
}

input[type=text] {
  background:transparent;
  color: white;
}
textarea[type=text] {
  background:transparent;
  color: white;
}

.submit{
  position:absolute;
  padding-left: 25%;
}

.Footer {
  color: black;
  justify-content: center;
  text-align: center;
  font-size: x-small;
  font-family: 'Amaranth', sans-serif;
}
